# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history

# document api
API_Documentation (1).md
API_DOCUMENTATION.md
ai-elearning-user/*
ai-elearning-user
